.input {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 12px;

  &__label {
    font-size: 12px;
    margin-bottom: 4px;
  }

  &__error {
    color: 	#ff4545;
    font-size: 12px;
    margin-top: 4px;
  }

  &__field {
    background-color: #f9fafb;
    border: 1px solid #e5e7eb;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.2s ease;
    border-radius: 8px;
    padding: 8px 12px;
    border: none;

    &_isError {
      border: 1px solid #ff4545;
      background-color: #ffffff;
    }

    &_isError:focus {
      box-shadow: 0 0 0 3px rgba(255, 69, 69, 0.3);
    }

    &:hover {
     background-color: #e5e7eb;
    }

    &:focus {
      background-color: #ffffff;
      outline: none;
    }

    &:focus:not(.input__field_isError) {
      box-shadow: 0 0 0 2px rgba(156, 163, 175, 0.2);
    }
  }

  &__inputContainer {
    position: relative;
    width: 100%;
  }

  &__passwordBtn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    color: #c0c9d9;
    outline: none;

    &:focus,
    &:active {
      outline: none;
    }
  }
}